.quill {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ql-container.ql-snow {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.ql-snow .ql-tooltip {
    border-color: #413f00;
    background-color: #413f00;
    color: #fe0;
    box-shadow: 0px 0px 5px #413f00d6;
}

.ql-snow .ql-tooltip a {
    color: #ff7598;
}

.ql-snow .ql-tooltip a.ql-action::after {
    border-color: #ff759854;
}

.ql-editor {
    flex: 1;
}

.ql-editor a {
    color: #ff7598;
}

.ql-snow .ql-tooltip input[type=text] {
    background-color: #413f00;
    border-color: #6e6b00;
}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #413f00;
}

.ql-toolbar .ql-fill {
    fill: #413f00;
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: #413f00;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke {
    stroke: #ff7598;
    fill: none;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill {
    fill: #ff7598;
    stroke: none;
}

.ql-snow.ql-toolbar button:hover .ql-picker,
.ql-snow.ql-toolbar button.ql-active .ql-picker {
    color: #ff7598;
}

.ql-snow {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: 1px solid #413f00;
}